
<div class="bg-gray-800 p-4 text-center md:flex justify-between items-center">
	<a href="{% url 'home:homepage' %}"><h1 class="text-blue-100 font-mono font-bold text-2xl " >The Question Collector</h1></a>

	{% if user.is_authenticated %}
	<div>
	<div class="mt-3 md:mr-6 p-2 bg-blue-200 hover:bg-blue-100 rounded transition ease-in duration-150 shadow-md text-center">
		<a href="{% url 'home:add_new_question' %}" class="">
			<p  class="text-sm text-indigo-800 hover:text-indigo-600">Add Question</p>
		</a>
	</div>
	<div class="mt-3 md:mr-6 p-2 bg-blue-200 hover:bg-blue-100 rounded transition ease-in duration-150 shadow-md text-center">
		<a href="{% url 'accounts:profile' author=user.username %}" class="">
			<p  class="text-sm text-indigo-800 hover:text-indigo-600">{{ user.username }}</p>
		</a>
	</div>
	</div>
	{% else %}
	<div class="mt-3 md:mr-6 p-2 px-6 bg-blue-200 hover:bg-blue-100 rounded transition ease-in duration-150 shadow-md text-center">
	<a class="" href="{% url 'login' %}">Log In</a>
	</div>
	{% endif %}
</div>

