{% load tailwind_tags %}
{% tailwind_css %}
<body class="bg-indigo-900 dark:bg-gray-800">

	<div class="bg-indigo-800 p-4 flex justify-between items-center">
		<a href="{% url 'home:homepage' %}"><h1 class="text-blue-100 font-mono font-bold text-3xl md:text-2xl">The Question Collector</h1></a>
		<a href="{% url 'home:add_new_question' %}" class="mr-6 p-2 bg-blue-200 hover:bg-blue-100 rounded text-indigo-700 hover:text-indigo-800 transition ease-in duration-150 text-center" >Add Question</a>
	</div>

	<div>
		{% for question in question_list %}
		<ul class="p-5">
			<li >
				<a href="{% url 'home:question_detail' question.slug %}">
					<p class="text-indigo-100">{{ question.title }}</p>
				</a>
			</li>
		</ul>
		{% endfor %}
	</div>


</body>

